/* -------------------------------------------



--------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css);
/* -------------------------------------------

main

------------------------------------------- */


html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Outfit", sans-serif; */
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  line-height: 150%;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}





.container {
  pointer-events: all;
}






/* -------------------------------------------

typography

------------------------------------------- */
h1,
.mil-h1,
h2,
.mil-h12,
h3,
.mil-h3,
h4,
.mil-h4,
h5,
.mil-h5,
h6,
.mil-h6 {
  font-family: "Outfit", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 500;
  line-height: 120%;
}






h1,
.mil-h1 {
  font-size: 86px;
}
@media screen and (max-width: 1400px) {
  h1,
.mil-h1 {
    font-size: 74px;
  }
}
@media screen and (max-width: 1200px) {
  h1,
.mil-h1 {
    font-size: 72px;
  }
}
@media screen and (max-width: 992px) {
  h1,
.mil-h1 {
    font-size: 58px;
  }
}
@media screen and (max-width: 768px) {
  h1,
.mil-h1 {
    font-size: 34px;
  }
}

h2,
.mil-h2 {
  font-size: 68px;
  line-height: 120%;
}
@media screen and (max-width: 1200px) {
  h2,
.mil-h2 {
    font-size: 56px;
  }
}
@media screen and (max-width: 992px) {
  h2,
.mil-h2 {
    font-size: 44px;
  }
}
@media screen and (max-width: 768px) {
  h2,
.mil-h2 {
    font-size: 36px;
  }
}

h3,
.mil-h3 {
  font-size: 42px;
}
@media screen and (max-width: 1200px) {
  h3,
.mil-h3 {
    font-size: 39px;
  }
}
@media screen and (max-width: 992px) {
  h3,
.mil-h3 {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  h3,
.mil-h3 {
    font-size: 30px;
  }
}










.mil-thin {
  font-weight: 100;
}


a {
  color: inherit;
  text-decoration: none;
}



.mil-accent {
  color: rgb(255, 152, 0);
}


.mil-button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  letter-spacing: 2px;
  font-size: 12px;
  background-color: rgb(255, 152, 0);
  color: rgb(0, 0, 0);
  border-radius: 70px;
  padding: 0 15px 0 50px;
  height: 70px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-button:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}
@media screen and (max-width: 992px) {
  .mil-button {
    height: 60px;
    padding: 0 10px 0 40px;
  }
  .mil-button svg {
    margin-left: 25px;
  }
}












.mil-center {
  text-align: center;
}





/* -------------------------------------------

form

------------------------------------------- */

.for-input {
  position: relative;
  height: 70px;
  padding: 0 30px;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: solid 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  border-radius: 23px;
}



.mil-up{
  
}




input::placeholder,
textarea::placeholder {
}

textarea {
  padding: 15px 30px;
  height: 250px !important;
  padding-top: 2em !important;

}

/* -------------------------------------------

breadcrumbs

------------------------------------------- */


/* -------------------------------------------

spaces

------------------------------------------- */


.mil-mb-60 {
  margin-bottom: 60px;
}










.mil-mb-120 {
  margin-bottom: 120px;
}

.mil-p-120-90 {
  padding-top: 120px;
  padding-bottom: 90px;
}

.mil-inner-banner .mil-banner-content {
  padding: 150px 0 0 0;
}


