
{% extends "customers-home.html" %}
{% load static %}
{% block header %}


	<link rel="stylesheet" href="{% static "assets/css/about-bootstrap.min.css" %}">
	
	<link rel="stylesheet" href="{% static "assets/css/about-default.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/about-style.min.css" %}">
	
	<link rel="stylesheet" href="{% static "assets/css/about-responsive.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/breadcrumb.css" %}">




	{% comment %} <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  
  
<ul id="breadcrumb" class="my-4 ">
  <li class="list-it"><a class="link-s" href="#"><span class="icon icon-home"> </span></a></li>
  <li class="list-it"><a class="link-s" href="#"><span class="icon icon-beaker"> </span> Projects</a></li>

</ul> {% endcomment %}



	<!-- WRAPPER START -->
	<div class="wrapper bg-dark-white">

		<!-- HEADER-AREA START -->
		
		<!-- HEADER-AREA END -->

		<!-- HEADING-BANNER START -->
		<div class="heading-banner-area overlay-bg" style="background: url('{% static "assets/images/about-main.jpg" %}'); background-size:cover;background-repeat:no-repeat;background-attachment: fixed;background-position:center;		">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading-banner">
							<div class="heading-banner-title">
								<h2>About Us</h2>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- HEADING-BANNER END -->
		<!-- ABOUT-US-AREA START -->
		<div class="about-us-area  pt-80 pb-80">
			<div class="container">
				<div class="about-us bg-white">
					<div class="row">
						<div class="col-lg-6">
							<div class="about-photo">
								<img src="{% static "assets/images/about.jpg" %}" alt="" />
							</div>
						</div>
						<div class="col-lg-6">
							<div class="about-brief bg-dark-white">
								<h4 class="title-1 title-border text-uppercase mb-30">about Fashionfoot</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, ommodo
									consequa. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
									is be deserunt mollit anim id est laborum.</p>
								<p>Sed ut perspiciatis unde omnis iste natus error sit. voluptatem accusantium
									doloremque laudantium, totam remes aperiam, eaque ipsa quae ab illo inventore
									veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
									consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Nemo enim ipsam
									voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
									magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ABOUT-US-AREA END -->




	</div>
	<!-- WRAPPER END -->
	{% endblock  %}