{% extends "customers-home.html" %}
{% load static %}
{% block header %}
    
    
        
        <div class="ltr:flex flex-1 rtl:flex-row-reverse">
            <div class="page-wrapper relative  duration-300 pt-0 w-full">
                <div class="xl:w-full  min-h-[calc(100vh-0px)] relative pb-0"> 
                    <div class="container my-4">
                        <div class="grid md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 gap-4 mb-4">
                            <div class="sm:col-span-6  md:col-span-3 lg:col-span-2 xl:col-span-2 ">
                                <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative">
                                    <div class="flex-auto  text-center"> 
                                        <div class="flex-auto text-center bg-gray-100">
                                            <a href="#">
                                                <img src="{% static "assets/images/store/addidas.png" %}" alt="" class="h-24 inline-block my-4 transition ease-in-out delay-50  hover:-translate-y-1 hover:scale-110 duration-500">
                                            </a>
                                        </div>                             
                                        <div class="flex-auto  text-center p-4">
                                            <a href="ecommerce-product-detail.html" class="text-xl font-semibold text-slate-500 py-1 dark:text-gray-400 leading-3 block my-2 truncate">Adidas </a>
                                                                                      
                                            <button type="button" class="px-4 py-1 lg:px-4 bg-transparent  text-brand text-base  transition hover:bg-brand-500/10 hover:text-brand-500 border border-slate-200 border-dashed font-medium w-full">Visit <i class="icofont-external-link ms-1"></i> </button>
                                        </div>
                                    </div>
                                </div> <!--end card-->
                            </div><!--end col--> 
                            <div class="sm:col-span-6  md:col-span-3 lg:col-span-2 xl:col-span-2 ">
                                <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative">
                                    <div class="flex-auto  text-center"> 
                                        <div class="flex-auto text-center bg-gray-100">
                                            <a href="#">
                                                <img src="{% static "assets/images/store/converse.png" %}" alt="" class="h-24 inline-block my-4 transition ease-in-out delay-50  hover:-translate-y-1 hover:scale-110 duration-500">
                                            </a>
                                        </div>                             
                                        <div class="flex-auto  text-center p-4">
                                            <a href="ecommerce-product-detail.html" class="text-xl font-semibold text-slate-500 py-1 dark:text-gray-400 leading-3 block my-2 truncate">Converse</a>
                                          
                                            <button type="button" class="px-4 py-1 lg:px-4 bg-transparent  text-brand text-base  transition hover:bg-brand-500/10 hover:text-brand-500 border border-slate-200 border-dashed font-medium w-full">Visit <i class="icofont-external-link ms-1"></i> </button>
                                        </div>
                                    </div>
                                </div> <!--end card-->
                            </div><!--end col--> 
                            <div class="sm:col-span-6  md:col-span-3 lg:col-span-2 xl:col-span-2 ">
                                <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative">
                                    <div class="flex-auto  text-center"> 
                                        <div class="flex-auto text-center bg-gray-100">
                                            <a href="#">
                                                <img src="{% static "assets/images/store/fila.png" %}" alt="" class="h-24 inline-block my-4 transition ease-in-out delay-50  hover:-translate-y-1 hover:scale-110 duration-500">
                                            </a>
                                        </div>                             
                                        <div class="flex-auto  text-center p-4">
                                            <a href="ecommerce-product-detail.html" class="text-xl font-semibold text-slate-500 py-1 dark:text-gray-400 leading-3 block my-2 truncate">Fila </a>
                                          
                                            <button type="button" class="px-4 py-1 lg:px-4 bg-transparent  text-brand text-base  transition hover:bg-brand-500/10 hover:text-brand-500 border border-slate-200 border-dashed font-medium w-full">Visit <i class="icofont-external-link ms-1"></i> </button>
                                        </div>
                                    </div>
                                </div> <!--end card-->
                            </div><!--end col--> 
                            <div class="sm:col-span-6  md:col-span-3 lg:col-span-2 xl:col-span-2 ">
                                <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative">
                                    <div class="flex-auto  text-center"> 
                                        <div class="flex-auto text-center bg-gray-100">
                                            <a href="#">
                                                <img src="{% static "assets/images/store/jordan.png" %}" alt="" class="h-24 inline-block my-4 transition ease-in-out delay-50  hover:-translate-y-1 hover:scale-110 duration-500">
                                            </a>
                                        </div>                             
                                        <div class="flex-auto  text-center p-4">
                                            <a href="ecommerce-product-detail.html" class="text-xl font-semibold text-slate-500 py-1 dark:text-gray-400 leading-3 block my-2 truncate">Air Jordan</a>
                                        
                                            <button type="button" class="px-4 py-1 lg:px-4 bg-transparent  text-brand text-base  transition hover:bg-brand-500/10 hover:text-brand-500 border border-slate-200 border-dashed font-medium w-full">Visit <i class="icofont-external-link ms-1"></i> </button>
                                        </div>
                                    </div>
                                </div> <!--end card-->
                            </div><!--end col--> 
                            <div class="sm:col-span-6  md:col-span-3 lg:col-span-2 xl:col-span-2 ">
                                <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative">
                                    <div class="flex-auto  text-center"> 
                                        <div class="flex-auto text-center bg-gray-100">
                                            <a href="#">
                                                <img src="{% static "assets/images/store/levis.png" %}" alt="" class="h-24 inline-block my-4 transition ease-in-out delay-50  hover:-translate-y-1 hover:scale-110 duration-500">
                                            </a>
                                        </div>                             
                                        <div class="flex-auto  text-center p-4">
                                            <a href="ecommerce-product-detail.html" class="text-xl font-semibold text-slate-500 py-1 dark:text-gray-400 leading-3 block my-2 truncate">Levi's</a>
                                     
                                            <button type="button" class="px-4 py-1 lg:px-4 bg-transparent  text-brand text-base  transition hover:bg-brand-500/10 hover:text-brand-500 border border-slate-200 border-dashed font-medium w-full">Visit <i class="icofont-external-link ms-1"></i> </button>
                                        </div>
                                    </div>
                                </div> <!--end card-->
                            </div><!--end col--> 
                            <div class="sm:col-span-6  md:col-span-3 lg:col-span-2 xl:col-span-2 ">
                                <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative">
                                    <div class="flex-auto  text-center"> 
                                        <div class="flex-auto text-center bg-gray-100">
                                            <a href="#">
                                                <img src="{% static "assets/images/store/new balance.png" %}" alt="" class="h-24 inline-block my-4 transition ease-in-out delay-50  hover:-translate-y-1 hover:scale-110 duration-500">
                                            </a>
                                        </div>                             
                                        <div class="flex-auto  text-center p-4">
                                            <a href="ecommerce-product-detail.html" class="text-xl font-semibold text-slate-500 py-1 dark:text-gray-400 leading-3 block my-2 truncate">New Balance</a>
                                    
                                            <button type="button" class="px-4 py-1 lg:px-4 bg-transparent  text-brand text-base  transition hover:bg-brand-500/10 hover:text-brand-500 border border-slate-200 border-dashed font-medium w-full">Visit <i class="icofont-external-link ms-1"></i> </button>
                                        </div>
                                    </div>
                                </div> <!--end card-->
                            </div><!--end col--> 
                            <div class="sm:col-span-6  md:col-span-3 lg:col-span-2 xl:col-span-2 ">
                                <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative">
                                    <div class="flex-auto  text-center"> 
                                        <div class="flex-auto text-center bg-gray-100">
                                            <a href="#">
                                                <img src="{% static "assets/images/store/nike.png" %}" alt="" class="h-24 inline-block my-4 transition ease-in-out delay-50  hover:-translate-y-1 hover:scale-110 duration-500">
                                            </a>
                                        </div>                             
                                        <div class="flex-auto  text-center p-4">
                                            <a href="ecommerce-product-detail.html" class="text-xl font-semibold text-slate-500 py-1 dark:text-gray-400 leading-3 block my-2 truncate">Nike</a>
                                           
                                            <button type="button" class="px-4 py-1 lg:px-4 bg-transparent  text-brand text-base  transition hover:bg-brand-500/10 hover:text-brand-500 border border-slate-200 border-dashed font-medium w-full">Visit <i class="icofont-external-link ms-1"></i> </button>
                                        </div>
                                    </div>
                                </div> <!--end card-->
                            </div><!--end col--> 
                            <div class="sm:col-span-6  md:col-span-3 lg:col-span-2 xl:col-span-2 ">
                                <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative">
                                    <div class="flex-auto  text-center"> 
                                        <div class="flex-auto text-center bg-gray-100">
                                            <a href="#">
                                                <img src="{% static "assets/images/store/puma.png" %}" alt="" class="h-24 inline-block my-4 transition ease-in-out delay-50  hover:-translate-y-1 hover:scale-110 duration-500">
                                            </a>
                                        </div>                             
                                        <div class="flex-auto  text-center p-4">
                                            <a href="ecommerce-product-detail.html" class="text-xl font-semibold text-slate-500 py-1 dark:text-gray-400 leading-3 block my-2 truncate">Puma</a>
                                           
                                            <button type="button" class="px-4 py-1 lg:px-4 bg-transparent  text-brand text-base  transition hover:bg-brand-500/10 hover:text-brand-500 border border-slate-200 border-dashed font-medium w-full">Visit <i class="icofont-external-link ms-1"></i> </button>
                                        </div>
                                    </div>
                                </div> <!--end card-->
                            </div><!--end col-->  
                            <div class="sm:col-span-6  md:col-span-3 lg:col-span-2 xl:col-span-2 ">
                                <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative">
                                    <div class="flex-auto  text-center"> 
                                        <div class="flex-auto text-center bg-gray-100">
                                            <a href="#">
                                                <img src="{% static "assets/images/store/reebok.png" %}" alt="" class="h-24 inline-block my-4 transition ease-in-out delay-50  hover:-translate-y-1 hover:scale-110 duration-500">
                                            </a>
                                        </div>                             
                                        <div class="flex-auto  text-center p-4">
                                            <a href="ecommerce-product-detail.html" class="text-xl font-semibold text-slate-500 py-1 dark:text-gray-400 leading-3 block my-2 truncate">Reebok </a>
                                           
                                            <button type="button" class="px-4 py-1 lg:px-4 bg-transparent  text-brand text-base  transition hover:bg-brand-500/10 hover:text-brand-500 border border-slate-200 border-dashed font-medium w-full">Visit <i class="icofont-external-link ms-1"></i> </button>
                                        </div>
                                    </div>
                                </div> <!--end card-->
                            </div><!--end col--> 
                            <div class="sm:col-span-6  md:col-span-3 lg:col-span-2 xl:col-span-2 ">
                                <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative">
                                    <div class="flex-auto  text-center"> 
                                        <div class="flex-auto text-center bg-gray-100">
                                            <a href="#">
                                                <img src="{% static "assets/images/store/under armour.png" %}" alt="" class="h-24 inline-block my-4 transition ease-in-out delay-50  hover:-translate-y-1 hover:scale-110 duration-500">
                                            </a>
                                        </div>                             
                                        <div class="flex-auto  text-center p-4">
                                            <a href="ecommerce-product-detail.html" class="text-xl font-semibold text-slate-500 py-1 dark:text-gray-400 leading-3 block my-2 truncate">Under Armour</a>
                                         
                                            <button type="button" class="px-4 py-1 lg:px-4 bg-transparent  text-brand text-base  transition hover:bg-brand-500/10 hover:text-brand-500 border border-slate-200 border-dashed font-medium w-full">Visit <i class="icofont-external-link ms-1"></i> </button>
                                        </div>
                                    </div>
                                </div> <!--end card-->
                            </div><!--end col--> 
                            <div class="sm:col-span-6  md:col-span-3 lg:col-span-2 xl:col-span-2 ">
                                <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative">
                                    <div class="flex-auto  text-center"> 
                                        <div class="flex-auto text-center bg-gray-100">
                                            <a href="#">
                                                <img src="{% static "assets/images/store/us polo.png" %}" alt="" class="h-24 inline-block my-4 transition ease-in-out delay-50  hover:-translate-y-1 hover:scale-110 duration-500">
                                            </a>
                                        </div>                             
                                        <div class="flex-auto  text-center p-4">
                                            <a href="ecommerce-product-detail.html" class="text-xl font-semibold text-slate-500 py-1 dark:text-gray-400 leading-3 block my-2 truncate">U.S.Polo</a>
                                            
                                            <button type="button" class="px-4 py-1 lg:px-4 bg-transparent  text-brand text-base  transition hover:bg-brand-500/10 hover:text-brand-500 border border-slate-200 border-dashed font-medium w-full">Visit <i class="icofont-external-link ms-1"></i> </button>
                                        </div>
                                    </div>
                                </div> <!--end card-->
                            </div><!--end col--> 
                            <div class="sm:col-span-6  md:col-span-3 lg:col-span-2 xl:col-span-2 ">
                                <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative">
                                    <div class="flex-auto  text-center"> 
                                        <div class="flex-auto text-center bg-gray-100">
                                            <a href="#">
                                                <img src="{% static "assets/images/store/vans.png" %}" alt="" class="h-24 inline-block my-4 transition ease-in-out delay-50  hover:-translate-y-1 hover:scale-110 duration-500">
                                            </a>
                                        </div>                             
                                        <div class="flex-auto  text-center p-4">
                                            <a href="ecommerce-product-detail.html" class="text-xl font-semibold text-slate-500 py-1 dark:text-gray-400 leading-3 block my-2 truncate">Vans</a>
                                           
                                            <button type="button" class="px-4 py-1 lg:px-4 bg-transparent  text-brand text-base  transition hover:bg-brand-500/10 hover:text-brand-500 border border-slate-200 border-dashed font-medium w-full">Visit <i class="icofont-external-link ms-1"></i> </button>
                                        </div>
                                    </div>
                                </div> <!--end card-->
                            </div><!--end col-->                                                               
                        </div><!--end inner-grid-->
                    </div><!--end container--> 
                    <!-- footer -->
                    
  
                </div><!--end main-->
            </div><!--end page-wrapper-->
        </div>
        

        {% endblock %}