{% extends "customers-home.html" %}
{% load static %}
{% block header %}

 <style>
    .emptycart{
        height: 400px;
        width: 100%;
        text-align: center;
        font-size: 2em;
      }
      
 </style>
<div class="ltr:flex flex-1 rtl:flex-row-reverse">
    <div class="page-wrapper relative  duration-300 pt-0 w-full">
        <div class="xl:w-full  min-h-[calc(100vh-56px)] relative pb-0"> 
            <div class="container my-4">
                <div class="grid grid-cols-12 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 gap-4">  
                    <div class="col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-12 xl:col-span-12">
                        <div class="grid grid-cols-1">
                            <div class="sm:-mx-6 lg:-mx-8">
                                {% if wishlistscount  < 1 %}
                                <div class="emptycart container mt-5  ">Your wishlist is empty</div>
                        
                                {% else %}
                                
                                <div class="relative overflow-x-auto block w-full sm:px-6 lg:px-8">
                                    <table class="w-full">
                                        <thead class="bg-gray-50 dark:bg-gray-600/20">
                                            <tr>
                                                <th scope="col" class="p-3 text-xs font-medium tracking-wider text-left text-gray-700 dark:text-gray-400 uppercase">
                                                    Product & Title
                                                </th>
                                                <th scope="col" class="p-3 text-xs font-medium tracking-wider text-left text-gray-700 dark:text-gray-400 uppercase">
                                                    Categories
                                                </th>
                                                <th scope="col" class="p-3 text-xs font-medium tracking-wider text-left text-gray-700 dark:text-gray-400 uppercase">
                                                    Stock status
                                                </th>
                                                <th scope="col" class="p-3 text-xs font-medium tracking-wider text-left text-gray-700 dark:text-gray-400 uppercase">
                                                    Attributes
                                                </th>
                                                <th scope="col" class="p-3 text-xs font-medium tracking-wider text-left text-gray-700 dark:text-gray-400 uppercase">
                                                    Price
                                                </th>
                                                <th scope="col" class="p-3 text-xs font-medium tracking-wider text-left text-gray-700 dark:text-gray-400 uppercase">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- 1 -->{% for data in wishlists %}
                                            <tr class="bg-white border-b border-dashed dark:bg-gray-900 dark:border-gray-700/40">
                                                
                                                <td class="p-3 text-sm font-medium whitespace-nowrap dark:text-white">
                                                    <div class="flex items-center">
                                                        <a href="">
                                                        <img src="/static/media/{{data.product_id.product_image}}" alt="" class="me-2 h-8 inline-block" >

                                                        </a>
                                                        <div class="self-center">                                                                        
                                                            <h5 class="text-sm font-semibold text-slate-700 dark:text-gray-400">{{data.product_id.product_name}}</h5>
                                                            <span class="block  font-medium text-slate-500">Size-{{data.product_id.product_size}}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="p-3 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                    <a href="#" class="text-brand-500 ">{{data.product_id.product_category}}</a>
                                                    {% comment %} <a href="#" class="text-brand-500 underline">Lifestayle</a> {% endcomment %}
                                                </td>
                                                <td class="p-3 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                        {% if data.product_id.number_of_items >  0 %}
                                                        <span class="bg-green-600/5 text-green-600 text-[11px] font-medium px-2.5 py-0.5 rounded h-5">In stock</span>
                                                        {% else %}
                                                        <span class="bg-red-600/5 text-red-600 text-[11px] font-medium px-2.5 py-0.5 rounded h-5">Out of stock</span>
                                                        {% endif %}
                                                </td>
                                                <td class="p-3 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                    <div>color : 
                                                        {{data.product_id.product_color}}
                                                    </div>
                                                    <div>Brand : 
                                                        <span class="mx-1">{{data.product_id.product_brand}}</span>
                                                    </div>
                                                </td>
                                                <td class="p-3 font-semibold text-lg text-gray-800 whitespace-nowrap dark:text-gray-400">$
                                                    <script>
                                                        var a=parseFloat("{{data.product_id.product_price}}");
                                                        var b=parseFloat("{{data.product_id.offer_price}}");
                                                            var c=a*(1-b/100)
                                                            document.write(parseInt(c));
                                                      
                                                    </script>
                                                    {{c}}<del class="text-slate-500 font-normal">${{data.product_id.product_price}}</del>
                                                </td>
                                                
                                                <td class="p-3 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                    <a class="remove" href="{% url 'customers-wishlist-remove' data.id %}"><i class="remove"><box-icon  name='trash' color="red" class="bx-tada-hover" ></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div><!--end div-->
                                {% endif %}
                            </div><!--end div-->
                        </div><!--end grid-->

                    </div><!--end col-->                    
                </div> <!--end grid-->
            </div><!--end container--> 

    </div><!--end page-wrapper-->
</div><!--end div-->
{% endblock %}